<% @users.each do |u| %>
	<ul>
		<li><%= u.name %></li>
		<%=link_to u.name, user_path(u.id)%>
	</ul>

<% end %>

<%= form_tag('/users', method: 'POST') do %>
	<label>Enter a name to create a new user</label>
	<input type="text" name='user[name]' value='<%=@user.name%>'> </input>
	<input type="submit" value="submit">
<%end%>