<h2>All Videos:</h2>
<ul>
<% @videos.each do |video| %>
	<li><%= link_to video.title, "/videos/#{video.id}" %>
		<%= link_to "delete this video" , "/videos/#{video.id}", method: :delete %>
	</li>
<% end %>
</ul>

<%= link_to "Or check out some sounds", "/sounds", method: :get %>

